.carousel-caption-left-bottom {
    position: absolute;
    bottom: 90px;
    left: 40px;
    color: #fff;
    padding: 10px;
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    border-radius: 5px; 
}

.carousel-container {
    padding: 1vw;
    max-width: 85vw; 
    margin-left: auto;
    margin-right: auto; 
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-container.fade-in {
    opacity: 1;
}

.carousel-inner img {
    height: 60vh; 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .carousel-inner img {
        height: 30vh; 
    }
}
